:root {
    --video-width: 100vw;
    --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
    :root { --video-height: 56.25vw; }
}
@media (max-aspect-ratio: 16/9) {
    :root { --video-width: 177.78vh; }
}
.video-background-banner {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 46vh;
}

.video-background-banner iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--video-width);
    height: var(--video-height);
    transform: translate(-50%, -50%);
}

@media  only screen and (max-width:768px ) {
    .video-background-banner {
        height: 30vh;
    }
    .video-background-banner iframe {
        width: 100vh;
        height: 40vh;
    }
}