:root {
    --video-width: 100vw;
    --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
    :root { --video-height: 56.25vw; }
}
@media (max-aspect-ratio: 16/9) {
    :root { --video-width: 177.78vh; }
}
.video-background-banner {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 46vh;
}

.video-background-banner iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--video-width);
    height: var(--video-height);
    transform: translate(-50%, -50%);
}

@media  only screen and (max-width:768px ) {

    .video-background-banner {
        height: 30vh;
    }
    .video-background-banner iframe {
        width: 100vh;
        height: 30vh;
    }
    .modal-backdrop.show {
        opacity: 0 !important;
    }
    .modal-backdrop{
        z-index: 1 !important;
    }
    .modal-dialog{
        margin: 0 !important;
        max-width: 100% !important;
    }
    .my-modal{
        padding-right: 0px !important;
    }
    .modal-content{
        height: 70vh;
    }
    .fixed-top{
        padding-right: 0px !important;
    }
}
@media  (orientation: landscape){
    .video-background-banner {
        height: 100vh;
    }
    .video-background-banner iframe{
        /*border:solid 3px red;*/
        width: 100vw;
        position: absolute;
        height: 100vh;
    }
    .modal-backdrop{
        display: none;
        opacity:0 !important;
        z-index:-1;
    }
    #mymodal{
        display: none;
    }
    .my-modal{
        display: none !important;
    }
    #header{
        display:none;
    }
}
.nav-link[aria-selected="false"]{
   color:white;
}

.nav-item > button{
    font-size: small;
    width:7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bounceIn {
    from {
        animation-timing-function: ease-in-out;
        transform: scale(0.3);
        opacity: 0;
    }

    /*60% {*/
    /*    animation-timing-function: ease-out;*/
    /*    transform: scale(0.7);*/
    /*}*/

    /*80% {*/
    /*    animation-timing-function: ease-in;*/
    /*    transform: scale(0.9);*/
    /*}*/

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.bounce-in {
    animation: bounceIn 0.3s;
}